.TodoItem {
    background-color:transparent;
    position: relative;
    border-bottom: 1px solid #00205f;
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 31px;
    font-weight: bold;
    
}

.Icon-check {
    position: absolute;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 50%;
}

.Icon-check--active {
    color: rgb(39, 184, 39);
}

.Icon-delete {
    position: absolute;
    top: 6px;
    right: 0;
    color: #ffffff;

    
}

.Icon-delete:hover {
    color: rgb(207, 60, 60);
    
    
}