.t-search {
    background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3C/svg%3E") 95% center no-repeat;
    border-radius: 2px;
    border:  1px solid #ffffff;
    margin: 0 78px;
    height: 40px;
    width: calc(30% - 31px);
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;   
    padding: 12px 24px;
    line-height: 18px;
    color: #ffffff;
    background-size: 18px 18px;
    border: none; 
    border-bottom: 1px solid #b1b1b1;
    transition: all 250ms ease-in-out;
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover, &:focus {
            outline: none;
            background-position: 100% center;
        }
    }
    


.t-search::placeholder {
    color: #424242;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: capitalize;
}

.t-search:focus {
    outline: none;
}